/**
 *
 *  Mission TeamProject
 *
 *  2025. 10. 14
 *
 *  make-study page
 *
 *  InputPassword.module.css
 *
 *  author: ys
 *
 */

.inputPasswordContainer {
  display: flex;
  flex-direction: column;
}

.inputTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.passwordWrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;

  & input {
    border: solid 1px var(--border-line);
    height: 48px;
    border-radius: 15px;
    width: 100%;
    padding: 15px 20px;
  }

  & .passwordToggleButton {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 24px;
    cursor: pointer;
  }
}

.inputErrMessage {
  font-size: 14px;
  font-weight: 400;
  color: var(--error-red);
  margin-top: 8px;
}

.nonDisplay {
  display: none;
}
